<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/home.css">

</head>

<body>

  <div class="container mt-5">


    <!-- Create a container for the grid -->
    <div class="row mt-4">

      <!-- Create a column for each project -->
      {{#each projects}}
      <div class="col-md-4 mb-4">
        <a href="/projects/{{id}}" style="text-decoration: none; color: inherit;"> <!-- id es el id obtenido de la base de datos -->
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{_nombreProyecto}}</h5>
              <p class="card-text">{{_descripcionProyecto}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{_fechaUltModificacion}}</small>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}  


  </div>

  <!-- Include Bootstrap JS dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-9QJ6nY5Qz8Y5tZ5z9vJzZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9z"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
