<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nuevo proyecto</title>
</head>
<body>
  <div>
    <h1 style="color: #B07052;"> Nuevo proyecto</h1>
    <form method="post" action="/newProject">
             <label for="projectName"  style="color: #B07052;">Nombre de proyecto: </label>

      <div class= "name-project">
       
        <input type="text" name="projectName" id="projectName" rows="3" placeholder="Nombre del proyecto" style="background-color: #FBC4AB; height: 40px; WIDTH: 150PX;">
      </div>
      <label for="projectDescription" style="color: #B07052;">Descripción de proyecto: </label>

      <div class= "desc-project">
        <textarea name="projectDescription" id="projectDescription" rows="3" placeholder="Ingresar descripción del proyecto"style="background-color: #FBC4AB;"></textarea>
      </div>
                              <button type="submit" style="background-color: #FBC4AB;">Crear proyecto</button>
    </form>
  </div>

  <!-- No se incluyen los enlaces a jQuery, Popper JS y Bootstrap JS -->
</body>
</html>
<style>

  body{
    font-family: 'Buenard', serif;


    text-align: center;
  }
  #projectName{
    font-family: 'Buenard', serif;

    border-radius: 7px;
    text-align: center;
    border: none;
  }

  #projectDescription{
    font-family: 'Buenard', serif;

    border-radius: 7px;
    text-align: center;
        border: none;

  }




  button {
    font-family: 'Buenard', serif;
    background-color: #F8AD9D;
    padding-left: 60%;
    color: #B07052;
    border: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #B07052; /* Invierte el color de fondo */
    color: #F8AD9D; /* Invierte el color de la fuente */
  }

  .name-project{
    padding: 1%;
  }  

  .desc-project{
    align-content: center;
    padding: 1%;
  }


</style>
