<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nuevo proyecto</title>
  <link rel="stylesheet" href="/newProject.css">
</head>
<body>
  <div>
    <h1 style="color: #B07052;"> Nuevo proyecto</h1>
    <form method="post" action="/newProject">
             <label for="projectName"  style="color: #B07052;">Nombre de proyecto: </label>

      <div class= "name-project">
       
        <input type="text" name="projectName" id="projectName" rows="3" placeholder="Nombre del proyecto" style="background-color: #FBC4AB; height: 40px; WIDTH: 150PX;">
      </div>
      <label for="projectDescription" style="color: #B07052;">Descripción de proyecto: </label>

      <div class= "desc-project">
        <textarea name="projectDescription" id="projectDescription" rows="3" placeholder="Ingresar descripción del proyecto"style="background-color: #FBC4AB;"></textarea>
      </div>
    <button type="submit" style="background-color: #FBC4AB;">Crear proyecto</button>
    </form>
  </div>

  <!-- No se incluyen los enlaces a jQuery, Popper JS y Bootstrap JS -->
</body>
</html>

