<div class= "container">
    <h1 style="color: #B07052;">Iniciar sesión</h1>

    <form action="" method="POST">
        <div>
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <button type="submit">Iniciar sesión</button>
 </div>
    </form>
</div>
<style>

 button {
        font-family: 'Buenard', serif;
        background-color: #F8AD9D;
        color: #B07052;
        border: none;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
      } 
    button:hover {
        transform: scale(1.1);
        transition: 0.5s;
        background-color: #B07052; /* Invierte el color de fondo */
        color: #F8AD9D; /* Invierte el color de la fuente */
    }
    
    h1{
        text-align: center;
       
    }

    .container{
        text-align: center;
    }

    .username{
        
        padding-bottom: 1%;
   
       
    }

    .email{
        padding-bottom: 1%;
    }

    .password{
        padding-bottom: 1%;
    }

  
    
    input[type="email"],
    input[type="text"],
    input[type="password"] {
        font-family: 'Buenard', serif;
        background-color: #FBC4AB;
         font-size: 15px;
        
        padding: 10px 15px;
        border: 1px solid #FBC4AB;
        border-radius: 4px;
        margin-bottom: 5px;}

       {
             font-family: 'Buenard', serif;
        background-color: #FBC4AB;
         font-size: 15px;
        
        padding: 10px 15px;
        border: 1px solid #FBC4AB;
        border-radius: 4px;
        margin-bottom: 5px;}
        

</style>
