 <header>
  <title>Perfil</title>
  <link rel="stylesheet" href="profile.css">
</header>
<body>
  
  <div class="perfil-container">

    <h1>Perfil</h1>

    <p>Bienvenido, {{user.username}}! aquí podrá ver todos sus datos</p>
    <p>Email: {{user.email}}</p>
    <p>Número de teléfono: {{user.phone}}</p>
    <!-- Botón para solicitarle su imagen de perfil al usuario -->
    <div class="image-container">
      <form action="/profile" method="POST" enctype="multipart/form-data">
      
      <input type="file" name="profileImage" class="profileImage" accept="image/*" onchange="previewImage(event)" />
      <img id="preview" class="imagen"src="#" alt="Preview"  />
      <script>
        function previewImage(event) {
          var reader = new FileReader();
          reader.onload = function() {
            var preview = document.getElementById('preview');
            preview.src = reader.result;
            preview.style.display = 'block';
          }
          reader.readAsDataURL(event.target.files[0]);
        }
      </script>
      
    </div>
    <br>
    <button class="submitButton" type="submit">Subir imagen</button>
    
  </div>
</body>
</html>
