<head>
    <link rel="stylesheet" href="signup.css">
</head>


<div class= "container">
   <h1 style="color: #B07052;">Registrarse</h1>

    <form action="" method="POST">
    <div class="username">
    <input type="text" name="username" placeholder="Nombre de usuario" required>
</div>
<div class="email">
    <input type="email" name="email" placeholder="Correo electrónico" required>
</div>
<div class="password">
    <input type="password" name="password" placeholder="Contraseña" required>
</div>
<div class="phone">
    <input type="text" name="phone" placeholder="Teléfono" required>
</div>
            <div>
        <button type="submit">Registrarse</button>
</div>
        </div>
    </form>
</div>

