<div class="container my-5">
    <h1 class="text-center">Sign up</h1>

    <form action="" method="POST" class="row g-3 mt-3">
        <div class="col-md-6">
            <input type="text" name="Nombre" placeholder="Nombre" class="form-control" required>
        </div>
        <div class="col-md-6">
            <input type="email" name="Correo" placeholder="Correo" class="form-control" required>
        </div>
        <div class="col-12">
            <input type="password" name="Password" placeholder="Contraseña" class="form-control" required>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
        </div>
    </form>
</div>
