<div class= "container">
   <h1 style="color: #B07052;">Registrarse</h1>

    <form action="" method="POST">
    <div class="username">
    <input type="text" name="username" placeholder="Nombre de usuario" required>
</div>
<div class="email">
    <input type="email" name="email" placeholder="Correo electrónico" required>
</div>
<div class="password">
    <input type="password" name="password" placeholder="Contraseña" required>
</div>
<div class="phone">
    <input type="text" name="phone" placeholder="Teléfono" required>
</div>
            <div>
        <button type="submit">Registrarse</button>
</div>
        </div>
    </form>
</div>

<style>
    button {
        font-family: 'Buenard', serif;
        background-color: #F8AD9D;
        color: #B07052;
        border: none;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;

      } 
    button:hover {
        transform: scale(1.1);
        transition: 0.5s;
        background-color: #B07052; /* Invierte el color de fondo */
        color: #F8AD9D; /* Invierte el color de la fuente */
    }
    
    h1{
        text-align: center;
       
    }

    .container{
        text-align: center;
    }

    .username{
        padding-bottom: 1%;
        size: 10;
    }

    .email{
        padding-bottom: 1%;
    }

    .password{
        padding-bottom: 1%;
    }

    .phone{
        padding-bottom: 1%;
    }
     input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-family: 'Buenard', serif;
        background-color: #FBC4AB;
         font-size: 15px;
        
        padding: 10px 15px;
        border: 1px solid #FBC4AB;
        border-radius: 4px;
        margin-bottom: 5px;}
</style>
