<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Luego, importa la hoja de estilo de Bootstrap -->
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="#">OrganizeHub</a>
            <ul class="navbar-nav ml-auto">
                {{#if userLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Mi perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/browse">Navegar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Mis proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                {{/if}}
            </ul>
        </div> 
    </nav>

    {{{body}}}

</body>

</html>
