<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <nav>
    <div class="navbar-container">
      <div class="brand-container">
        <a href="/" class="brand-link">OrganizeHub</a>
      </div>
      <ul class="navbar-menu">
        {{#if userLoggedIn}}
<<<<<<< Updated upstream
          <li><a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
  <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"/>
  <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
</svg></a></li>
=======
          <li><a href="/profile"><input type="image" src="https://imgur.com/7xc8ES0" width="42px" height="42px"  alt="" ></a></li></a></li>
          
>>>>>>> Stashed changes
          <!-- Añadimos un a href con un icono -->
          <li><a href="/projects"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
  <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
</svg> </a></li>
          
          <li><a href="/logout">Cerrar sesión</a></li>
        {{else}}
          <li><a href="/login">Iniciar sesión</a></li>
          <li><a href="/signup">Registrarse</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}

</body>
<style>

body {
    font-family: 'Buenard', sans-serif;
    background-color: #FCD5CE;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBC4AB;
    padding: 20px;
    border-radius: 5px; /* Añade bordes redondeados al contenedor */
}

.brand-container {
  padding-left: 43.2%;
   display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.brand-link {
    text-decoration: none;
    color: #B07052; /* Color del texto del enlace */
    border-radius: 7px;
    
    /* Agrandamos el texto */
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFDAB9;
    transition: 0.2;
    
    
}

.brand-link:hover{ /* Cambiamos el color del texto cuando el cursor pasa por encima de las letras */
    color: #FFDAB9;
    background-color: #B07052;
    transition: 0.5s;

}


.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Alinea la lista de menú a la derecha */
}

.navbar-menu li {
    display: inline-block;
    margin-right: 15px;


}

.navbar-menu li:hover {
    transform: scale(0.8);
    transition: 0.5s;

}

nav a {
    text-align: center;
    color: #B07052; /* Color del texto del enlace */
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
    color: #342219; 
    transition: 0.2s;
    
}

</style>
</html>