<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav>
    <div class="navbar-container">
      <a href="#">OrganizeHub</a>
      <ul class="navbar-menu">
        {{#if userLoggedIn}}
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/browse">Navegar</a></li>
          <li><a href="/projects">Mis proyectos</a></li>
          <li><a href="/logout">Cerrar sesión</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}

</body>
<style>

body {
    background-color: #FCD5CE;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBC4AB;
    padding: 20px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-align: left; /* Alinea el texto a la izquierda dentro del enlace */
}

</style>
</html>
