<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <nav>
    <div class="navbar-container">
      <div class="brand-container">
        <a href="/" class="brand-link">OrganizeHub</a>
      </div>
      <ul class="navbar-menu">
        {{#if userLoggedIn}}
          <li><a href="/profile">Mi perfil</a></li>
          <!-- Añadimos un a href con un icono -->
          <li><a href="/projects"><input type="image" src="/icons/moto.jpg" alt="asd"></a></li>
          <li><a href="/logout">Cerrar sesión</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}

</body>
<style>

body {
    font-family: 'Buenard', sans-serif;
    background-color: #FCD5CE;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBC4AB;
    padding: 20px;
    border-radius: 5px; /* Añade bordes redondeados al contenedor */
}

.brand-container {
<<<<<<< HEAD
    padding-left: 40%;
=======
  padding-left: 43.25;
>>>>>>> 7dc6de07c7ee4b2fd8718df139943a86a5522277
    text-align: center;
    
}


.brand-link {
    text-decoration: none;
    color: #B07052; /* Color del texto del enlace */
    border-radius: 3px;
    
    /* Agrandamos el texto */
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFDAB9;
    transition: 0.2;
    
    
}

.brand-link:hover{ /* Cambiamos el color del texto cuando el cursor pasa por encima de las letras */
    color: #FFDAB9;
    background-color: #B07052;
    transition: 0.5s;

}


.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Alinea la lista de menú a la derecha */
}

.navbar-menu li {
    display: inline-block;
    margin-right: 15px;


}

.navbar-menu li:hover {
    transform: scale(0.8);
    transition: 0.5s;

}

nav a {
    text-align: center;
    color: #B07052; /* Color del texto del enlace */
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
    color: #342219; 
    transition: 0.2s;
    
}

</style>
</html>